{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Create An Event Activity</title>
</head>
<body id="create-activity-event">
    <div onclick="hideConfirmMessage()" class="blur" id="create-activity-blur"></div>
    <div class="confirm-message" id="activity-confirm-message">
        <h3>Confirm</h3>
        <p>Are you sure you want to create an event activity?</p>
        <div class="yes-no-buttons">
            <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
            <button onclick="eventActivityForm.submit()" class="yes-btn" type="button">Yes</button>
        </div>
    </div>
   
      <div class="image-wrapper bg-image-activity">
        <div class="filter-bg"></div>
        <h1>Create An Event Activity</h1>
      </div>
      <div class="alert alert-info for-info" role="alert">
        <i class="fa-solid fa-circle-info"></i>
        Please note that all event submissions will undergo review by the admin for approval or rejection prior to publishing.
      </div>
      <div class="form-header">
        <h3>Submit Your Event Activity Form</h3>
      </div>
      <form action="" method="post" id="event-activity-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-container justify-content-lg-between gap-lg-0 gap-4">
            <div class="input-wrapper">
                <label for="a-cm-name">Club Manager Name:</label>
            <input class="input-field" type="text" name="clubmanager" id="a-cm-name" placeholder="e.g Nouhad El Hallab" required>
            </div>
            <div class="input-wrapper">
                <label for="a-cvm-name">Club Vice Manager Name:</label>
            <input class="input-field" type="text" name="clubvicemanager" id="a-cvm-name" placeholder="e.g Mohammad Aburahma" required>
            </div>
            <div class="input-wrapper">
                <label for="a-c-name">Club Name:</label>
            <input class="input-field" type="text" name="clubname" id="a-c-name" placeholder="e.g Paddle Pros" required>
            </div>
        </div>

        <div class="input-container justify-content-lg-between gap-lg-0 gap-4">
            <div class="input-wrapper">
                <label for="a-e-email">Email:</label>
            <input class="input-field activity-email-input" type="email" name="email" id="a-e-email" placeholder="Email" required>
            <strong class="email-error">Invalid Email</strong>
            </div>
            <div class="input-wrapper">
                <label for="a-e-title">Event Title:</label>
            <input class="input-field event-title-input" type="text" name="eventtitle" id="a-e-title" placeholder="Event Title" required>
            </div>
            <div class="input-wrapper set-top">
                <label for="a-s-categories">Select a category:</label>
            <select class="event-category-input" name="categories" id="a-s-categories">
                <option value="sport">Sport</option>
                <option value="gaming">Gaming</option>
                <option value="technology">Technology</option>
                <option value="society">Society</option>
                <option value="programming">Programming</option>
                <option value="art">Art</option>
            </select>
            </div>
        </div>
        <h6>Event Activity Image:</h6>
        <div class="image-upload-container">
            <label for="a-file-upload" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Choose File
        </label>
        <input class="event-file-upload-input" id="a-file-upload" name="event_image" type="file" onchange="displayFiles(this)" required multiple />
        </div>
        <div class="event-file-list" id="a-file-list"></div>
        <strong class="image-error">You should set an image for your event</strong>

        <div class="alert alert-warning m-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
          You can only choose one image to represent your event. Ensure that the selected image effectively encapsulates the essence and theme of your event.
          </div>
        <div class="input-container justify-content-lg-between gap-lg-0 gap-4 mt-5">
            <div class="input-wrapper">
                <label for="a-e-date">Event Date:</label>
            <input class="input-field" type="date" name="date" id="a-e-date" required>
            </div>
            <div class="input-wrapper">
                <label for="a-e-time">Event Time:</label>
            <input class="input-field" type="time" name="time" id="a-e-time" required>
            </div>
            <div class="input-wrapper">
                <label for="a-e-location">Location:</label>
            <input class="input-field" type="text" name="location" id="a-e-location" placeholder="e.g Uskudar Univer..." required>
            </div>
            <div class="input-wrapper mt-lg-4">
                <label for="a-p-number">Phone Number:</label>
            <input class="input-field event-phone-input" type="text" name="phonenumber" id="a-p-number" placeholder="e.g +90 (512) 345 678 9" required>
            <strong class="phone-error">Invalid Number</strong>
            </div>
        </div>
        <h6>Event Description:</h6>
        <div class="description-container">
            <textarea class="input-field event-description-input" name="description" id="a-e-description" placeholder="e.g The goal of this event..." required></textarea>
            <strong class="description-error">The Description should be between 300-4000 letter</strong>
        </div>
        <button onclick="checkEventFormAndConfirm()" type="button" class="send-request-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit Request</button>
      </form>

      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/all.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      <script src="{% static 'js/manager.js' %}"></script>
</body>
</html>
{% endblock content %}