{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Create An Event Post</title>
</head>
<body id="create-post-event">
    <div onclick="hideConfirmMessage()" class="blur" id="create-activity-blur"></div>
    <div class="confirm-message" id="activity-confirm-message">
        <h3>Confirm</h3>
        <p>Are you sure you want to create an event post?</p>
        <div class="yes-no-buttons">
            <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
            <button onclick="eventPostForm.submit()" class="yes-btn" type="submit">Yes</button>
        </div>
    </div>
   
      <div class="image-wrapper bg-image-post">
        <div class="filter-bg"></div>
        <h1>Add An Event Post</h1>
      </div>
      <div class="alert alert-info for-info" role="alert">
        <i class="fa-solid fa-circle-info"></i>
        Please note that all event submissions will undergo review by the admin for approval or rejection prior to publishing.
      </div>
      <div class="form-header">
        <h3>Submit Your Event Post Form</h3>
      </div>
      <form action="" method="post" id="event-post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-container justify-content-lg-between gap-lg-0 gap-4">
          <div class="input-wrapper">
                <label for="p-c-name">Club Name:</label>
            <input class="input-field" type="text" name="clubname" id="p-c-name" placeholder="e.g Paddle Pros" required>
            </div>
            <div class="input-wrapper">
              <label for="a-cm-name">Club Manager Name:</label>
          <input class="input-field" type="text" name="clubmanager" id="a-cm-name" placeholder="e.g Nouhad El Hallab" required>
          </div>
            <div class="input-wrapper ms-lg-5">
              <label for="p-e-title">Event Title:</label>
          <input class="input-field event-title-input" type="text" name="eventtitle" id="p-e-title" placeholder="Event Title" required>
          </div>
        </div>
        
        <h6>Event Post Image:</h6>
        <div class="image-upload-container">
            <label for="p-file-upload" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Choose File
        </label>
        <input id="p-file-upload" name="post_image" type="file" onchange="displayFiles(this)" multiple />
        </div>
        <div class="event-file-list" id="p-file-list"></div>

        <div class="alert alert-warning m-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
          You can only choose one image to represent your event or leave it blank
          </div>
        
        <h6 class="mt-3">Event Description:</h6>
        <div class="description-container">
            <textarea class="input-field event-description-input" name="postdescription" id="p-e-description" placeholder="e.g The goal of this event..." required></textarea>
            <strong class="description-error">The Description should be between 300-4000 letter</strong>
        </div>
        <button onclick="checkEventFormAndConfirm()" type="button" class="send-request-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit Request</button>
      </form>

      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/all.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      <script src="{% static 'js/manager.js' %}"></script>
      
</body>
</html>
{% endblock content %}