{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Notifications | Club Manager</title>
</head>
<body id="manager-notifications">
    <div class="notif-header">
        <div class="filter-bg"></div>
        <h1>Notifications</h1>
    </div>
    <div class="manager-notif-container">

        {% for act in activities %}
            {% if act.approved %}
                <div class="notification notification-accepted">
                    <i class="fa-solid fa-check"></i>
                    Your Event Activity ({{ act.eventtitle }}) Request Is Accepted By The SKS Admin
                </div>
            {% endif %}
            {% if act.rejected %}
                <div class="notification notification-rejected">
                    <i class="fa-solid fa-xmark"></i>
                    Your Event Activity ({{ act.eventtitle }}) Request Is Rejected By The SKS Admin
                    <button class="why-rejected">See Why</button>
                    <p class="purpose-of-rejection">
                        {% for reason in act.rejection_reason.all %}
                            <!-- Display rejection reason if available -->
                            Reason: {{ reason.reason }}
                        {% endfor %}

                    </p>
                </div>
            {% endif %}
        {% endfor %}
    
        {% for act in editedactivities %}
            {% if act.approved %}
                <div class="notification notification-accepted">
                    <i class="fa-solid fa-check"></i>
                    Your Event Activity ({{ act.eventtitle }}) Edit Request Is Accepted By The SKS Admin
                </div>
            {% endif %}
            {% if act.rejected %}
                <div class="notification notification-rejected">
                    <i class="fa-solid fa-xmark"></i>
                    Your Event Activity ({{ act.eventtitle }}) Edit Request Is Rejected By The SKS Admin
                    <button class="why-rejected">See Why</button>
                    <p class="purpose-of-rejection">
                        {% for reason in act.rejection_reason.all %}
                            <!-- Display rejection reason if available -->
                            Reason: {{ reason.reason }}
                        {% endfor %}

                    </p>
                </div>
            {% endif %}
        {% endfor %}
    

        {% for post in posts %}
            {% if post.approved %}
                <div class="notification notification-accepted">
                    <i class="fa-solid fa-check"></i>
                    Your Event Post ({{ post.eventtitle }}) Request Is Accepted By The SKS Admin
                </div>
            {% endif %}   
    
            {% if post.rejected %}
                <div class="notification notification-rejected">
                    <i class="fa-solid fa-xmark"></i>
                    Your Event Post ({{ post.eventtitle }}) Request Is Rejected By The SKS Admin
                    <button class="why-rejected">See Why</button>
                    <p class="purpose-of-rejection">
                        {% for reason in post.rejection_reason.all %}
                            <!-- Display rejection reason if available -->
                            Reason: {{ reason.reason }}
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
        {% endfor %}

        {% for club in clubs %}
        <div class="notification notification-accepted">
            <i class="fa-solid fa-check"></i>
            Your Club ({{ club.clubname }}) Has been created By The SKS Admin
        </div>

    {% endfor %}
    </div>
    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/manager.js' %}"></script>
    
</body>
</html>
{% endblock content %}