{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/userType.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Log In | Student</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div class="logo">
                <a href= "{% url 'usertype' %}"><i class="fa-solid fa-link"></i> ClubConnect</a>
            </div>
        </div>
      </nav>
<div class="centered-div">
      <div class="login-signup-form">
        <img src="https://foto.haberler.com/haber/2022/08/09/uskudar-universitesi-burs-imkanlari-15156736_6917_amp.jpg">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Log In</h1>
            <div class="input-fields">
                <div class="one-input-wrapper">
                    <input id="student-login-email" class="email login-email" type="email" placeholder="Email Adress">
                    <div class="form-icons">
                    <i onclick="loginEmailInput.focus()" class="fa-regular fa-envelope"></i>
                </div>
                </div>
                <div class="one-input-wrapper">
                    <input id="student-login-password" class="password login-password hidden-password" type="password" placeholder="Password">
                    <div class="form-icons">
                    <i onclick="passwordVisible(loginPasswordInput)" class="fa-regular fa-eye"></i>
                    <i onclick="loginPasswordInput.focus()" class="fa-solid fa-lock"></i>
                </div>
                </div>
        </div>
        <p>Don't have an account? <a href="{% url 'studentSignup' %}">Sign Up</a></p>
        <a href="{% url 'homePage' %}"><button class="reg-btn">Log In</button></a>

            <div class="invalid-message mt-4">
                <span><i class="fa-solid fa-triangle-exclamation"></i></span>
                <strong>There was a problem logging in. Check your email and password or create an account.</strong>
            </div>
        </form>
     </div>
</div>
<footer>
    <div class="footer-uskudar">
        <h6>@ <span>USKUDAR UNIVERSITESI - 2011</span></h6>
    </div>
  </footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/registration.js' %}"></script>
</body>
</html>