<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../registration-form/userType.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Type Of User</title>
</head>
<body>
    <div class="centered-div">
    <div class="user-container">
        <h1>Welcome To <span>Club Connect</span></h1>
        <p>Please choose the type of user</p>
        <div class="type-of-user">
            <a href="../registration-form/student-login.html"><button>Student</button></a>
            <a href="../registration-form/manager-login.html"><button>Club Manager</button></a>
            <a href="../registration-form/admin-login.html"><button>SKS Admin</button></a>
        </div>
    </div>
    </div>


    <footer>
        <div class="footer-uskudar">
            <h6>@ <span>USKUDAR UNIVERSITESI - 2011</span></h6>
        </div>
      </footer>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/all.min.js"></script>
</body>
</html>