:root {
    --ligh-color: white;
    --dark-color: rgb(26, 24, 24);
    --grey-color: rgb(215, 214, 214);
    --red-color: #ea3636;
    --yellow-color: rgb(249, 221, 95);
    --section-color: #eff7fa;
    --blue-color: rgb(101, 108, 239);
  }

body{
    font-family: "Roboto", sans-serif;
}
