{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
        :root {
            --ligh-color: white;
            --dark-color: rgb(26, 24, 24);
            --grey-color: rgb(215, 214, 214);
            --red-color: #ea3636;
            --yellow-color: rgb(249, 221, 95);
            --section-color: #eff7fa;
            --blue-color: rgb(101, 108, 239);
          }
        
        .edit-clubProfile-form{
          background-color: var(--ligh-color);
          width: 70vw;
          height: 600px;
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%,-85%);
          z-index: 999;
          overflow: auto;
          display: none;
        }
        
        .edit-club-infos{
            justify-content: center !important;
        }
        #x-mark{
            position: absolute;
            right: 8px;
            top: 10px;
            font-size: 30px;
            cursor: pointer;
            z-index: 999;
            color: var(--dark-color);
        }
        #edit-club-blur{
            z-index: 998 !important;
        }
    
        @media screen and (max-width: 893px){
            .edit-clubProfile-form{
                width: 80vw;
            }
            @media screen and (max-width: 646px){
                .edit-clubProfile-form{
                    width: 90vw;
                }
            }
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Paddle Pros Club</title>
</head>
<body id="club-profile">
    <div onclick="hideConfirmMessage()" class="blur" id="edit-club-blur"></div>
    <div class="edit-clubProfile-form">
        <i onclick="hideEditClubForm()" class="fa-solid fa-xmark" id="x-mark"></i>
        <div class="confirm-message" id="club-confirm-message">
            <h3>Confirm</h3>
            <p>Are you sure you want to create a new club?</p>
            <div class="yes-no-buttons">
                <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
                <button onclick="createClubForm.submit()" class="yes-btn" type="submit">Yes</button>
            </div>
        </div>
        <form class="create-club-form" action="" method="POST">
            {% csrf_token%}
            <div class="image-upload-container">
                <div onclick="backgroundUpload.click()" class="image-preview bg-preview" id="edit-background-preview"></div>
                <label for="edit-background-upload" class="custom-background-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Choose A File
                </label>
                <input class="background-upload" id="edit-background-upload" type="file" name="edit_bg_club" required/>
                <div class="profile-input">
                    <div onclick="profileUpload.click()" class="image-preview profile-preview" id="edit-profile-preview"></div>
                    <label for="edit-profile-upload" class="custom-profile-upload">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </label>
                    <input class="profile-upload" id="edit-profile-upload" type="file" name="edit_profile_club" required/>
                </div>
            </div>

        <div class="club-infos edit-club-infos">
            <input class="input-field club-name" id="edit-club-name" name="edit_clubname" type="text" placeholder="Club Name" required>
            <input class="input-field headline" id="edit-headline" name="edit_headline" type="text" placeholder="Headline" required>
            <input class="input-field club-location" id="edit-club-location" name="edit_location" type="text" placeholder="Location" required>
            <input class="input-field club-manager" id="edit-club-manager" name="edit_clubmanager" type="text" placeholder="Club Manager" required>
            <input class="input-field club-vice-manager" id="edit-club-vice-manager" name="edit_clubvicemanager" type="text" placeholder="Club Vice Manager" required>
            <div class="input-div">
            <input class="input-field phone1" id="edit-phone1" name="edit_phonenumber1" type="tel" placeholder="Phone Number 1" required>
            <strong class="phone-error1">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field phone2" id="edit-phone2" name="edit_phonenumber2" type="tel" placeholder="Phone Number 2" required>
            <strong class="phone-error2">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field club-email" id="edit_club-email" name="edit_email" type="email" placeholder="Email Adress" required>
            <strong class="email-error">Invalid Email</strong>
        </div>
            <select name="edit_category" id="edit-s-categories">
                <option value="sport">Sport</option>
                <option value="gaming">Gaming</option>
                <option value="technology">Technology</option>
                <option value="society">Society</option>
                <option value="programming">Programming</option>
                <option value="art">Art</option>
            </select>
            <input type="text" class="club-achievment" name="edit_clubAchievment1" id= "edit_clubAchievment1" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="edit_clubAchievment2" id= "edit_clubAchievment2" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="edit_clubAchievment3" id= "edit_clubAchievment3" placeholder="Club's Achievment">
            <div class="area-div">
            <textarea class="input-field club-vision-input" name="edit_clubvision" id="edit-club-vision-input" placeholder="Club Vision" required></textarea>
            <strong class="vision-error">The club vision should be between 200-3000 letter</strong>
            </div>
            <div class="area-div">
            <textarea class="input-field club-description-input" name="edit_clubdescription" id="edit-club-description-input" placeholder="Club Description" required></textarea>
            <strong class="description-error">The club description should be between 300-4000 letter</strong>
            </div>
            <div class="create-club-btn"><button onclick="checkAndConfirm()" type="button">Edit Club</button></div>
        </div>
    </form>
    </div>

    <div class="bigger-profile">
        <img src="{% static 'images/ping-pong-club.jpg' %}" alt="club profile picture">
        <i onclick="closeImage()" class="fa-solid fa-x"></i>
    </div>
    <div class="club-container">
        <div class="first-container">
            <div class="club-bg-image">
          <img onclick="openImage()" src="{% static 'images/ping-pong-club.jpg' %}" alt="club profile picture" id="profile-picture">
        </div>
        <div class="club-bio-container">
            <div class="club-summary">
                <h3 class="club-name">Paddle Pros <span>Verified <i class="fa-solid fa-check"></i></span></h3>
            <p class="club-sub">Paddle Club | Paddle, Adventure, Unity</p>
            <p class="club-location">Istanbul,Turkey</p>
            </div>
            <div class="uni-icon"><img src="https://uskudar.edu.tr/template/app/dist/img/logo/yazisiz-logo.png" alt="uskudar university icon">Uskudar University</div>
        </div>
        <div class="vision-description">
            <h4>Club Vision</h4>
            <p id="club-vision">the club's Vision goes here, you can write anything you want</p>
            <h4>Club Description</h4>
            <p id="club-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                     Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="club-category" >Club Category: <span data-category="sport">Sport</span></div>
        </div>
        </div>
        <div class="second-container">
           <div class="club-achievments">
            <h4>Club's Achievments <i class="fa-solid fa-medal"></i></h4>
            <ul>
                <li>club's achievments goes here</li>
                <li>club's achievments goes here</li>
                <li>club's achievments goes here</li>
                <li>club's achievments goes here</li>
            </ul>
            </div>
            <div class="club-management">
                <p><i class="fa-solid fa-user"></i> <span>Club Manager: </span>Nouhad El Hallab</p>
                <p><i class="fa-solid fa-user"></i> <span>Club Vice Manager: </span>Mohammad Aburahma</p>
                <p><i class="fa-solid fa-user-group"></i> <span>Number Of Members: </span>75</p>
                <p><i class="fa-solid fa-phone"></i> <span>Phone Number 1: </span>+90 (531) 234 56 78</p>
                <p><i class="fa-solid fa-phone"></i> <span>Phone Number 2: </span>+90 (531) 234 56 78</p>
                <p><i class="fa-solid fa-envelope"></i> <span>Email: </span>paddleuskudar@gmail.com</p>
                <div class="social-media">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                
            </div>
            <div class="edit-delete">
                <button onclick="showEditClubForm()" type="button" class="edit-btn" id="edit-button">Edit Club</button>
                <button type="button" class="delete-btn" id="delete-button">Delete Club</button>
            </div>
           </div>
        </div>
        
    </div>
    <div class="club-events">
      <div class="search-event-input">
        <div class="club-events-title">Club's Event Activities</div>
        <div class="search-container">
        <input onkeyup="searchForEvent()" type="text" id="search-for-event" placeholder="Search for events...">
        <div onclick="searchEvent.focus()" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>
    </div>
    <div class="container cards-section mt-5 mb-5">
        <div class="row events-cards-container gap-5">
          <div class="no-clubs-events-matches hidden-div">
              <h3 class="text-black-50 fs-5">No Events Found</h3>
          </div>
            <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "sport">
                        <div class="image-wrapper">
                            <a href="#">
                        <img src="{% static 'images/hiking-event.jpg' %}" class="card-img-top event-img" alt="let's Hike Event">
                        <div class="event-date date-to-style" data-date = "2024-04-27">
                        <span><span class="event-day">27 </span><span class="event-month">Apr</span></span>
                        <hr>
                        <span class="event-time">8:00 pm</span>
                    </div>
                    </a>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title mt-5">Let's Hike Together</h5>
                        <p class="card-text text-black-50">Embark on an unforgettable hiking journey to conquer the summit of Büyük Camlica Hill.
                             Experience breathtaking views, diverse wildlife, and camaraderie. Join us for adventure!</p>
                        <div class="info-list">
                            <a href="#"><button type="button" class="main-btn more-info-btn">More Info</button></a>
            
                        </div>
                </div>
            </div>
            <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "sport">
                <div class="image-wrapper">
                    <a href="#">
                <img src="{% static 'images/run-for-fun-event.jpg' %}" class="card-img-top event-img" alt="Running event">
                <div class="event-date date-to-style" data-date = "2024-06-20">
                <span><span class="event-day">20 </span><span class="event-month">Jun</span></span>
                <hr>
                <span class="event-time">3:30 pm</span>
            </div>
            </a>
            </div>
            
            <div class="card-body">
                <h5 class="card-title mt-5">Run For Fun</h5>
                <p class="card-text text-black-50">Gear up for an exhilarating urban adventure at the "Urban Rush: Istanbul City Marathon.
                    " Join thousands of runners as we race through iconic landmarks and vibrant neighborhoods of Istanbul.</p>
                <div class="info-list">
                    <a href="#"><button type="button" class="main-btn more-info-btn">More Info</button></a>
    
                </div>
        </div>
    </div>
        <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "sport">
            <div class="image-wrapper">
                <a href="#">
            <img src="{% static 'images/volley-ball-event.jpg' %}" class="card-img-top event-img" alt="volleyBall match Event">
            <div class="event-date date-to-style" data-date = "2024-04-30">
            <span><span class="event-day">30 </span><span class="event-month">Apr</span></span>
            <hr>
            <span class="event-time">7:00 pm</span>
        </div>
        </a>
        </div>
        
        <div class="card-body">
            <h5 class="card-title mt-5">VolleyBall Match</h5>
            <p class="card-text text-black-50">Dive into the excitement of beach volleyball at the "Bosphorus Beach Volleyball Bash"!
                 Join us for an action-packed match on the sandy shores of Istanbul's iconic Bosphorus coastline.</p>
            <div class="info-list">
                <a href="#"><button type="button" class="main-btn more-info-btn">More Info</button></a>

            </div>
    </div>
    </div>
        </div>
      </div>
    </div>


    <div class="club-events">
        <div class="search-event-input">
          <div class="club-events-title">Club's Event Posts</div>
      </div>

      <div class="event-posts-container">
       <i onclick="movePrevious()" class="fa-solid fa-less-than"></i>
       <div class="event-posts-slider">
        <div class="profile-post-card">
        <img src="https://www.colorado.edu/program/data-science/sites/default/files/styles/large/public/slider/img_0146_0.jpg?itok=IVE2eqdQ">
        <h3 class="event-post-title">From our Hiking Event</h3>
        <p class="event-post-description">Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
            Adventure awaits! 📸✨ #Hiking #NatureLovers</p>
       </div>
       <div class="profile-post-card">
        <img src="#">
        <h3 class="event-post-title">From our </h3>
        <p class="event-post-description">Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
            Adventure awaits! 📸✨ #Hiking #NatureLovers</p>
       </div>
       <div class="profile-post-card">
        <img src="https://www.colorado.edu/program/data-science/sites/default/files/styles/large/public/slider/img_0146_0.jpg?itok=IVE2eqdQ">
        <h3 class="event-post-title">Hiking  cfcd Event</h3>
        <p class="event-post-description">Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
            Adventure awaits! 📸✨ #Hiking #NatureLovers</p>
       </div>
       </div>
       
       <i onclick="moveNext()" class="fa-solid fa-greater-than"></i>
      </div>
      </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        let editClub = document.querySelector('.edit-clubProfile-form');
        let closeEditBtn = document.getElementById('x-mark');
        let editClubBlur = document.getElementById('edit-club-blur');

      function showEditClubForm(){
          editClub.style.display = "block";
          editClubBlur.style.display = "block";
      }
      function hideEditClubForm(){
        editClub.style.display = "none";
        editClubBlur.style.display = "none";
    }
    </script>

</body>
</html>
{% endblock content %}