{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
 .first-container .club-bg-image{
  background-image: url("{{ club.bgimg.url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35vh;
  position: relative;
  top: 0;
  left: 0;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | {{club.clubname}}</title>
</head>
<body id="club-profile">
    <div onclick="hideConfirmMessage()" class="blur" id="edit-confirm-blur"></div>
    <div onclick="hideEditClubForm()" class="blur2" id="edit-club-blur"></div>
    <div class="confirm-message" id="club-confirm-message">
        <h3>Confirm</h3>
        <p>Are you sure you want to edit your club profile?</p>
        <div class="yes-no-buttons">
            <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
            <button onclick="editClubForm.submit()" class="yes-btn" type="submit">Yes</button>
        </div>
    </div>
    
    <div class="edit-clubProfile-form">
        <i onclick="hideEditClubForm()" class="fa-solid fa-xmark" id="x-mark"></i>
        
        <form class="edit-club-form" action="{% url 'clubProfile' pk=club.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="edit-club-form-place">
            <!-- edit club profile form in admin.js(line 40) -->
        </div>
        
    </div>

    <div class="bigger-profile">
        <img src="{{ club.profileimg.url }}" alt="club profile picture">
        <i onclick="closeImage()" class="fa-solid fa-x"></i>
    </div>
    <div class="club-container">
        <div class="first-container">
            <div class="club-bg-image">

          <img onclick="openImage()" src="{{ club.profileimg.url }}" alt="club profile picture">
        </div>
        <div class="club-bio-container">
            <div class="club-summary">
                <h3 class="club-name"><span id="club-name-data">{{club.clubname}}</span> <span class="verified">Verified <i class="fa-solid fa-check"></i></span></h3>
            <p class="club-sub" id="headline-data">{{club.headline}}</p>
            <p class="club-location" id="location-data">{{club.location}}</p>

            </div>
            <div class="uni-icon"><img src="https://uskudar.edu.tr/template/app/dist/img/logo/yazisiz-logo.png" alt="uskudar university icon">Uskudar University</div>
        </div>
        <div class="vision-description">
            <h4>Club Vision</h4>
            <p id="club-vision-data">{{club.clubvision}}</p>
            <h4>Club Description</h4>
            <p id="club-description-data">
                {{club.clubdescription}}
            </p>
            <div class="club-category" >Club Category: <span id="club-category-data" data-category="{{club.category}}">{{club.category}}</span></div>

        </div>
        </div>
        <div class="second-container">
           <div class="club-achievments">
            <h4>Club's Achievments <i class="fa-solid fa-medal"></i></h4>
            <ul>
                <li id="club-achievment1-data">{{club.club_achievement1}}</li>
                <li id="club-achievment2-data">{{club.club_achievement2}}</li>
                <li id="club-achievment3-data">{{club.club_achievement3}}</li>
                <li id="club-achievment4-data">{{club.club_achievement4}}</li>
                <li id="club-achievment5-data">{{club.club_achievement5}}</li>
            </ul>
            </div>
            <div class="club-management">

                <p><i class="fa-solid fa-user"></i> <strong>Club Manager: </strong><span id="club-manager-data">{{club.clubmanager}}</span></p>
                <p><i class="fa-solid fa-user"></i> <strong>Club Vice Manager: </strong><span id="vice-manager-data">{{club.clubvicemanager}}</span></p>
                <p><i class="fa-solid fa-user-group"></i> <strong>Number Of Members: </strong><span id="num-of-members-data">{{club.number_of_members}}</span></p>
                <p><i class="fa-solid fa-phone"></i> <strong>Phone Number 1: </strong><span id="phone1-data">{{club.phonenumber1}}</span></p>
                <p><i class="fa-solid fa-phone"></i> <strong>Phone Number 2: </strong><span id="phone2-data">{{club.phonenumber2}}</span></p>
                <p><i class="fa-solid fa-envelope"></i> <strong>Email: </strong><span id="club-email-data">{{club.email}}</span></p>

                <div class="social-media">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                
            </div>
            <div class="edit-delete">
                <button onclick="showEditClubForm()" type="button" class="edit-btn" id="edit-button">Edit Club</button>
                <button type="button" class="delete-btn" id="delete-button">Delete Club</button>
            </div>
           </div>
        </div>
        
    </div>
    
    <div class="club-events">
      <div class="search-event-input">
        <div class="club-events-title">Club's Event Activities</div>
        <div class="search-container">
        <input onkeyup="searchForEvent()" type="text" id="search-for-event" placeholder="Search for events...">
        <div onclick="searchEvent.focus()" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
    </div>
    </div>
    <div class="container cards-section mt-5 mb-5">
        <div class="row events-cards-container gap-5">
          <div class="no-clubs-events-matches hidden-div">
              <h3 class="text-black-50 fs-5">No Events Found</h3>
          </div>

          {% for EventActivity in activity reversed %}
          {% if EventActivity.approved %}
          <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "{{ EventActivity.categories }}">
                      <div class="image-wrapper">
                          <a href="{% url 'eventPage' pk=EventActivity.id %}">
                      <img src="{{ EventActivity.event_image.url }}" class="card-img-top event-img" alt="{{ EventActivity.eventtitle }}">
                      <div class="event-date date-to-style" data-date = "{{ EventActivity.date }}">
                      <span><span class="event-day">{{ EventActivity.date.day }}</span><span class="event-month">{{ EventActivity.date|date:"M" }}</span></span>
                      <hr>
                      <span class="event-time">{{ EventActivity.time|time:"h:i A" }}</span>
                  </div>
                  </a>
                  </div>
                  
                  <div class="card-body">
                      <h5 class="card-title mt-5">{{EventActivity.eventtitle}}</h5>
                      <p class="card-text text-black-50">{{EventActivity.description|truncatewords:25}}</p>
                      <div class="info-list">
                          <a href="{% url 'eventPage' pk=EventActivity.id %}"><button type="button" class="main-btn more-info-btn">More Info</button></a>
                      </div>
              </div>
          </div>
          {% endif %} 
        {% endfor %}

        {% for EventActivity in edit_activity reversed %}
          {% if EventActivity.approved %}
          <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "{{ EventActivity.categories }}">
                      <div class="image-wrapper">
                          <a href="{% url 'eventPage' pk=EventActivity.id %}">
                      <img src="{{ EventActivity.event_image.url }}" class="card-img-top event-img" alt="{{ EventActivity.eventtitle }}">
                      <div class="event-date date-to-style" data-date = "{{ EventActivity.date }}">
                      <span><span class="event-day">{{ EventActivity.date.day }}</span><span class="event-month">{{ EventActivity.date|date:"M" }}</span></span>
                      <hr>
                      <span class="event-time">{{ EventActivity.time|time:"h:i A" }}</span>
                  </div>
                  </a>
                  </div>
                  
                  <div class="card-body">
                      <h5 class="card-title mt-5">{{EventActivity.eventtitle}}</h5>
                      <p class="card-text text-black-50">{{EventActivity.description|truncatewords:25}}</p>
                      <div class="info-list">
                          <a href="{% url 'eventPage' pk=EventActivity.id %}"><button type="button" class="main-btn more-info-btn">More Info</button></a>
                      </div>
              </div>
          </div>
          {% endif %} 
        {% endfor %}
    </div>
        </div>
      </div>
    </div>

    <div class="club-events">
        <div class="search-event-input">
          <div class="club-events-title">Club's Event Posts</div>
      </div>

      <div class="event-posts-container">
       <i onclick="movePrevious()" class="fa-solid fa-less-than"></i>
       <div class="event-posts-slider">
        {% for post in post %}
        {% if post.approved %}
        <div class="profile-post-card">
        <img src="{{ post.image.url }}">
        <h3 class="event-post-title">{{ post.eventtitle }}</h3>
        <p class="event-post-description">{{ post.postdescription}}</p>
       </div>
        {% endif %} 
       {% endfor %}
       </div>
       
       <i onclick="moveNext()" class="fa-solid fa-greater-than"></i>
       <div class="bigger-post-container">
        <!-- Bigger Post Goes Here -->
      </div>

      </div>
      </div>
      

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/clubProfile.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
{% endblock content %}