{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Clubs</title>
</head>

<body id="clubs">
    <div onclick="hideFilters()" class="blur"></div>
    <div class="filter-list">
        <div class="filter-header">
            <p>Filter</p>
            <i onclick="hideFilters()" class="fa-solid fa-x filter-x"></i>
        </div>
        <ul>
            <p>Categories</p>
            <li data-category="sport">Sport</li>
            <li data-category="gaming">Gaming</li>
            <li data-category="technology">Technology</li>
            <li data-category="society">Society</li>
            <li data-category="programming">Programming</li>
            <li data-category="art">Art</li>
            <li data-category="iq">IQ</li>
            
        </ul>
        <div class="filter-list-btns">
            <button onclick="resetPage()" class="reset-filter-btn">Reset</button>
        </div>
    </div>

      <div class="search-filter-section">
        <div class="search-form">
            <div class="search-input">
            <input onkeyup="searchCardByName()" type="text" id="search-by-name" placeholder="Search by name...">
            <div onclick="searchByName.focus()" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
        </div>

        <div class="filter-by-category-container">
            <button onclick="showFilters()" class="filter-btn main-btn clubs-btn">Filter By Category</button>
        </div>
      </div>
       
 <div class="container cards-section mt-5 mb-5">
  <div class="row clubs-cards-container gap-5">
    <div class="no-clubs-events-matches hidden-div">
        <h3 class="text-black-50 fs-5">No Clubs Found</h3>
    </div>
        <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
                <div class="image-wrapper">
                    <img src="{% static 'images/ping-pong-club.jpg' %}" class="card-img-top rounded-pill" alt="Paddle Pros club">
                </div>
                <div class="card-body">
                <h5 class="card-title">Paddle Pros</h5>
                <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'clubProfile' %}" class="btn clubs-btn">Explore Club</a>
        </div>
      </div>
        <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category="art">
            <div class="image-wrapper">
                <img src="{% static 'images/artisan-club.jpg' %}" class="card-img-top rounded-pill" alt="Artisan Alias Club">
            </div>
            <div class="card-body">
            <h5 class="card-title">Artisan Alias</h5>
            <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn clubs-btn">Explore Club</a>
        </div>
        </div>
        <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
            <div class="image-wrapper">
                <img src="{% static 'images/chess-club.jpg' %}" class="card-img-top rounded-pill" alt="Checkmate Club">
            </div>
            <div class="card-body">
            <h5 class="card-title">Checkmate</h5>
            <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "gaming">
        <div class="image-wrapper">
            <img src="{% static 'images/gaming-club.jpg' %}" class="card-img-top rounded-pill" alt="Pixel Pioneers Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Pixel Pioneers</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
        <div class="image-wrapper">
            <img src="{% static 'images/hiking-club.jpg' %}" class="card-img-top rounded-pill" alt="Hike Harmony Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Hike Harmony</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "art">
        <div class="image-wrapper">
            <img src="{% static 'images/knife-club.jpg' %}" class="card-img-top rounded-pill" alt="Sword Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Sword</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
        <div class="image-wrapper">
            <img src="{% static 'images/run-club.jpg' %}" class="card-img-top rounded-pill" alt="Run For Fun Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Run For Fun</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "technology programming">
        <div class="image-wrapper">
            <img src="{% static 'images/tech-titans-club.jpg' %}" class="card-img-top rounded-pill" alt="Tech Titans Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Tech Titans</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "society">
        <div class="image-wrapper">
            <img src="{% static 'images/tree-club.jpg' %}" class="card-img-top rounded-pill" alt="Root Revivers Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Root Revivers</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
        <div class="image-wrapper">
            <img src="{% static 'images/volleyball-club.jpg' %}" class="card-img-top rounded-pill" alt="Volley Victors Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Volley Victors</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category = "sport">
        <div class="image-wrapper">
            <img src="{% static 'images/yoga-club.jpg' %}" class="card-img-top rounded-pill" alt="Yoga Club">
        </div>
        <div class="card-body">
        <h5 class="card-title">Yoga Club</h5>
        <p class="card-text text-black-50">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn clubs-btn">Explore Club</a>
    </div>
    </div>
      
  </div>
</div>
      
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock content %}