{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Clubs</title>
</head>

<body id="clubs">
    <div onclick="hideFilters()" class="blur"></div>
    <div class="filter-list">
        <div class="filter-header">
            <p>Filter</p>
            <i onclick="hideFilters()" class="fa-solid fa-x filter-x"></i>
        </div>
        <ul>
            <p>Categories</p>
            <li data-category="sport">Sport</li>
            <li data-category="gaming">Gaming</li>
            <li data-category="technology">Technology</li>
            <li data-category="society">Society</li>
            <li data-category="programming">Programming</li>
            <li data-category="art">Art</li>
            <li data-category="iq">IQ</li>
            
        </ul>
        <div class="filter-list-btns">
            <button onclick="resetPage()" class="reset-filter-btn">Reset</button>
        </div>
    </div>

      <div class="search-filter-section">
        <div class="search-form">
            <div class="search-input">
            <input onkeyup="searchCardByName()" type="text" id="search-by-name" placeholder="Search by name...">
            <div onclick="searchByName.focus()" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
        </div>

        <div class="filter-by-category-container">
            <button onclick="showFilters()" class="filter-btn main-btn clubs-btn">Filter By Category</button>
        </div>
      </div>
       
 <div class="container cards-section mt-5 mb-5">
  <div class="row clubs-cards-container gap-5">
    <div class="no-clubs-events-matches hidden-div">
        <h3 class="text-black-50 fs-5">No Clubs Found</h3>
    </div>
    {% for club in clubs %}
    <div class="card col-md-4 col-lg-3 club-card card-to-filter text-center pt-2" data-category="{{ club.category }}">
        <div class="image-wrapper">
            <img src="{{ club.profileimg.url }}" class="card-img-top rounded-pill" alt="{{ club.clubname }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ club.clubname }}</h5>
            <p class="card-text text-black-50">{{ club.headline }}</p>
            <a href="{% url 'clubProfile' pk=club.id %}" class="btn clubs-btn">Explore Club</a>
        </div>
    </div>
    {% endfor %}
    </div>
      
  </div>
</div>
      
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock content %}