{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Events</title>
</head>
<body id="events">
    <div onclick="hideFilters()" class="blur"></div>
    <div class="filter-list">
        <div class="filter-header">
            <p>Filter</p>
            <i onclick="hideFilters()" class="fa-solid fa-x filter-x"></i>
        </div>
        <ul>
            <p>Categories</p>
            <li data-category="sport">Sport</li>
            <li data-category="gaming">Gaming</li>
            <li data-category="technology">Technology</li>
            <li data-category="society">Society</li>
            <li data-category="programming">Programming</li>
            <li data-category="art">Art</li>
            <li data-category="iq">IQ</li>
            
        </ul>
        <div class="filter-list-btns">
            <button onclick="resetPage()" class="reset-filter-btn">Reset</button>
        </div>
    </div>
   
      <div class="search-filter-section">
        <div class="search-form">
            <div class="search-input date-search-input">
            <div class="from-date-div">
                <label for="search-by-date-from">From: </label>
                <input type="date" id="search-by-date-from">
            </div>
            <div class="to-date-div">
                 <label for="search-by-date-to">To: </label>
                 <input type="date" id="search-by-date-to">
            </div>
            <button onclick="searchCardByDate()" class="main-btn search-date-btn">Search</button>
           
            </div>
        </div>

        <div class="filter-by-category-container">
            <button onclick="showFilters()" class="filter-btn main-btn clubs-btn">Filter By Category</button>
        </div>
      </div>

      <div class="container cards-section mt-5 mb-5">
        <div class="row events-cards-container gap-5">
          <div class="no-clubs-events-matches hidden-div">
              <h3 class="text-black-50 fs-5">No Events Found</h3>
          </div>
{% for EventActivity in activity reversed %}
    {% if EventActivity.approved %}
            <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category = "{{ EventActivity.categories }}">
                        <div class="image-wrapper">
                            <a href="{% url 'eventPage' pk=EventActivity.id %}">
                        <img src="{{ EventActivity.event_image.url }}" class="card-img-top event-img" alt="{{ EventActivity.eventtitle }}">
                        <div class="event-date date-to-style" data-date = "{{ EventActivity.date }}">
                        <span><span class="event-day">{{ EventActivity.date.day }}</span><span class="event-month">{{ EventActivity.date|date:"M" }}</span></span>
                        <hr>
                        <span class="event-time">{{ EventActivity.time|time:"h:i A" }}</span>
                    </div>
                    </a>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title mt-5">{{EventActivity.eventtitle}}</h5>
                        <p class="card-text text-black-50">{{EventActivity.description|truncatewords:20}}</p>
                        <div class="info-list">
                            <a href="{% url 'eventPage' pk=EventActivity.id %}"><button type="button" class="main-btn more-info-btn">More Info</button></a>
                            <span class="add-to-list-btn add-to-list-plus"></span>
                        </div>
                </div>
            </div>
        {% endif %} 
        {% endfor %}  

        {% for edit_event in edit_activity reversed %}
        {% if  edit_event.approved %}
        <div class="card p-0 col-md-4 col-lg-3 event-card card-to-filter text-center" data-category="{{ edit_event.categories }}">
                    <div class="image-wrapper">
                        <a href="{% url 'eventPage' pk=edit_event.id %}">
                            <img src="{{ edit_event.event_image.url }}" class="card-img-top event-img" alt="{{ edit_event.eventtitle }}">
                            <div class="event-date date-to-style" data-date="{{ edit_event.date }}">
                                <span><span class="event-day">{{ edit_event.date.day }}</span><span class="event-month">{{ edit_event.date|date:"M" }}</span></span>
                                <hr>
                                <span class="event-time">{{ edit_event.time|time:"h:i A" }}</span>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mt-5">{{ edit_event.eventtitle }}</h5>
                        <p class="card-text text-black-50">{{ edit_event.description|truncatewords:20 }}</p>
                        <div class="info-list">
                            <a href="{% url 'eventPage' pk=edit_event.id %}"><button type="button" class="main-btn more-info-btn">More Info</button></a>
                            <span class="add-to-list-btn add-to-list-plus"></span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
 
        </div>
       </div>
    </div>    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/listed-events-storage.js' %}"></script>
</body>
{% endblock content%}
