{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Uskudar Universitesi Events</title>
</head>
<body id="home">

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="{% static 'images/image-slider-event-1.png' %}" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption d-md-block top-0 mt-5">
                <p class="mt-5 pt-lg-5 pt-3">Embark on Adventure: Join Us for a Hiking Extravaganza!</p>
                <h1>Let's Hike Together</h1>
                <button type="button" class="main-btn text-uppercase learn-more-btn mt-4">Learn More</button>
            </div>
        </div>
        <!-- Other carousel items here -->
    </div>
</div>

<div class="clubs-section">
    <h1 class="section-title">Clubs</h1>
    <div class="clubs-slider-container">
        <i onclick="scrollPreviousClub()" class="fa-solid fa-less-than"></i>
        <div class="clubs-container">
            {% for home in home %}
            <a href="{% url 'clubProfile' pk=home.id %}">
                <div class="club-card">
                    <div class="rounded-image"><img src="{{home.profileimg.url}}"></div>
                    <h5>{{home.clubname}}</h5>
                </div>
            </a>
            {% endfor %}
        </div>
        <i onclick="scrollNextClub()" class="fa-solid fa-greater-than"></i>
    </div>
</div>

<div class="upcoming-events-section">
    <h1 class="section-title">Upcoming Event</h1>
    {% for event in event %}
    {% if event.approved %}
    <div class="event-post event-card" data-category="design">
        
        <div class="event-details">
            <h1 class="card-title">{{event.eventtitle}}</h1>
            <p class="event-paragraph text-black-50 card-text">
                {{event.description|truncatewords:90}}
            </p>
            <div class="info-list">
                <a href="{% url 'eventPage' pk=event.id %}">
                    <button type="button" class="main-btn more-info-btn">More Info</button>
                </a>
            </div>
            <div class="event-infos">
                <div class="date-time">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="text-black-50 event-date">{{event.date}}, <span class="event-time">{{event.time}}</span></p>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="text-black-50">{{event.location}}</p>
                </div>
                <div class="contact">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p class="text-black-50">{{event.phonenumber}}</p>
                </div>
            </div>
        </div>
        <div class="event-image">
            <img class="event-img" src="{{event.event_image.url}}">
        </div>
        
    </div>
    {% endif %}
    {% endfor %}
    {% for event in edit_activity %}
    {% if event.approved %}
    <div class="event-post event-card" data-category="design">
        
        <div class="event-details">
            <h1 class="card-title">{{event.eventtitle}}</h1>
            <p class="event-paragraph text-black-50 card-text">
                {{event.description|truncatewords:90}}
            </p>
            <div class="info-list">
                <a href="{% url 'eventPage' pk=event.id %}">
                    <button type="button" class="main-btn more-info-btn">More Info</button>
                </a>
            </div>
            <div class="event-infos">
                <div class="date-time">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="text-black-50 event-date">{{event.date}}, <span class="event-time">{{event.time}}</span></p>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="text-black-50">{{event.location}}</p>
                </div>
                <div class="contact">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p class="text-black-50">{{event.phonenumber}}</p>
                </div>
            </div>
        </div>
        <div class="event-image">
            <img class="event-img" src="{{event.event_image.url}}">
        </div>
        
    </div>
    {% endif %}
    {% endfor %}
    <div class="Explore-Events-container d-flex justify-content-center mt-5 mb-5 pt-3 pb-3">
        <a href="{% url 'events' %}">
            <button type="button" class="explore-events-btn">Explore Events</button>
        </a>
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock content %}