{% extends 'base.html' %}
{% block content%}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/clubs-events.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Uskudar Universitesi Events</title>
</head>
<body id="my-list">
    <div onclick="hideFilters()" class="blur"></div>
    <div class="filter-list">
        <div class="filter-header">
            <p>Filter</p>
            <i onclick="hideFilters()" class="fa-solid fa-x filter-x"></i>
        </div>
        <ul>
            <p>Categories</p>
            <li data-category="sport">Sport</li>
            <li data-category="gaming">Gaming</li>
            <li data-category="technology">Technology</li>
            <li data-category="society">Society</li>
            <li data-category="programming">Programming</li>
            <li data-category="art">Art</li>
            <li data-category="iq">IQ</li>
            
        </ul>
        <div class="filter-list-btns">
            <button onclick="resetPage()" class="reset-filter-btn">Reset</button>
        </div>
    </div>
    
      <div class="header-my-list">
        <h3>My List <span></span></h3>
        <p class="successful-message">Event Removed Successfully</p>
      </div>
      <div class="table-container">
        <div class="no-clubs-events-matches hidden-div">
          <h3 class="text-black-50 fs-5">Your List Is Empty</h3>
      </div>
        <table>
            <thead>
                <tr>
                    <td>Event Poster</td>
                    <td>Event Title</td>
                    <td>Event Date</td>
                    <td>More Info</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
    </table>
      </div>
      

      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/all.min.js' %}"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/listed-events-storage.js' %}"></script>
</body>
</html>
{% endblock content%}