:root {
    --ligh-color: white;
    --dark-color: rgb(26, 24, 24);
    --grey-color: rgb(215, 214, 214);
    --red-color: #ea3636;
    --yellow-color: rgb(249, 221, 95);
    --section-color: #eff7fa;
    --blue-color: rgb(101, 108, 239);
  }

body{
    font-family: "Roboto", sans-serif;
}
.image-wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}
.bg-image-post{
    background-image: url('https://ankahaber.net/public/upload/Haber/144054/144054.jpeg');
}
.bg-image-activity{
    background-image: url('https://cdn.uskudar.edu.tr/uploads/images/2017/07/17/800/blob_1.');
}

.image-wrapper .filter-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 24, 24, 0.703);
    z-index: 100;
}
.image-wrapper h1{
    color: var(--ligh-color);
    z-index: 900;
    font-weight: 400;
    font-size: 2.5rem;
}
.for-info{
    font-size: .9rem;
    color: var(--dark-color);
    margin-top: 20px;
}
.form-header{
    font-weight: 350;
    padding: 15px;
    position: relative;
    top: 0;
    margin-bottom: 20px;
}
.form-header::before{
    content: '';
    background-color: var(--red-color);
    width: 15%;
    height: 3px;
    position: absolute;
    bottom: 0;
}
form{
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
form .input-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 6.7%;
}
form .input-wrapper{
    display: flex;
    flex-direction: column;
}

form .input-wrapper input{
    padding: 7px;
    width: 28vw;
    outline: none;
    border-radius: 0;
    border: solid 2px grey;
}
form .input-wrapper input:focus{
    border: solid 2px var(--yellow-color);
}
form .input-wrapper select{
    width: 28vw;
    padding: 9.3px;
    font-size: 1rem;
}
.image-upload-container{
    border: dashed 2px black;
    min-height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.custom-file-upload {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
}

.event-file-upload-input{
    display: none;
}
.event-file-list{
    width: 50vw;
    margin-top: 5px;
    align-self: center;
}
.image-error,.phone-error,.description-error{
   text-align: center;
   margin-top: 5px;
   color: red;
   font-weight: bold;
   font-size: .9rem;
   display: none;
}
.phone-error,.description-error{
    text-align: start !important;
}
.description-container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.description-container textarea{
    resize: none;
    padding: 10px;
    outline: none;
    border: solid 1px grey;
    width: 42vw;
    min-height: 25vh;
}
.description-container textarea:focus{
    border: solid 2px var(--yellow-color);
}
.send-request-btn{
    align-self: flex-start;
    padding: 10px 60px;
    border: solid 1px transparent;
    background-color: var(--red-color);
    color: var(--section-color);
    transition: .3s ease;
}
.send-request-btn:hover{
    color: var(--red-color);
    background-color: transparent;
    border: solid 1px var(--red-color);
}
.blur{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
  }
  .confirm-message{
    background-color: var(--dark-color);
    color: var(--ligh-color);
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    width: 40vw;
    z-index: 999;
    transition: .4s ease;
  }
  .confirm-message .yes-no-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  .yes-no-buttons .yes-btn, .no-btn{
    padding: 5px 25px;
    transition: .3s ease;
  }
  .yes-btn{
    background-color: var(--red-color);
    color: var(--ligh-color);
    border: solid 1px transparent;
  }
  .yes-btn:hover{
    background-color: transparent;
    color: var(--red-color);
    border: solid 1px var(--red-color);
  }
  .no-btn{
    background-color: transparent;
    color: var(--red-color);
    border: solid 1px var(--red-color);
  }
  .error-border{
    border: solid 2px red !important; 
   }
   .email-error{
    color: red;
    font-weight: bold;
    display: none;
  }
  /*Start Manager notifications Style*/
  .notif-header{
    background-image: url('https://www.bionikkimya.com/wp-content/uploads/2021/08/Istanbul-Paslanmaz-Kaynak-Kimyasallari.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    position: relative;
    top: 0;
    left: 0;
  }
  .notif-header h1{
    color: var(--ligh-color);
    z-index: 2;
    letter-spacing: 2px;
    font-size: 2.2rem;
  }
  .notif-header .filter-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .manager-notif-container{
    min-height: 45vh;
    padding: 20px;
  }
  .notification{
    padding: 32px 15px 15px 15px;
    margin-bottom: 20px;
    height: 90px;
    font-size: 1rem;
  }
  .notification svg{
    margin-right: 5px;
  }
  .notification-accepted{
    background-color: rgba(4, 250, 4, 0.199);
  }
  .notification-rejected{
    background-color: rgba(255, 0, 0, 0.274);
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .notification-rejected button{
    color: blue;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .purpose-of-rejection{
    margin-top: 40px;
  }
  .show-purpose{
    min-height: 25vh !important;
    overflow-y: auto !important;
  }
  /*End Manager notifications Style*/

@media screen and (max-width: 750px){
    form .input-wrapper input{
       width: 45vw;
    }
    .image-upload-container{
        width: 70vw;
    }
    .custom-file-upload {
        font-size: 2rem;
    }
    .description-container textarea{
        width: 75vw;
    }
}
@media screen and (max-width: 536px){
    form .input-wrapper input{
       width: 90vw;
    }
    .image-upload-container{
        width: 90vw;
    }
    .custom-file-upload {
        font-size: 2rem;
    }
    .description-container textarea{
        width: 90vw;
    }
    form .input-wrapper select{
        width: 90vw;
    }
    .set-top{
        margin-top: 20px;
    }
    .send-request-btn{
        align-self: center;
    }
    .image-wrapper h1{
        font-size: 1.4rem;
    }
    .notification{
        font-size: .8rem;
      }
}