{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>

    input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
  
  .req-text-checkboxes{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
  }
  .check-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notif-request{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 10px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.429);
    padding: 10px;
    height: 70px;
    overflow-y: hidden;
  }
  
  .submit-purpose-btn{
    background-color: green;
    height: 38px;
    width: 20%;
    margin: 5px;
    font-size: .8rem;
    color: white;
    border: solid 1px transparent;
    transition: .3s ease;
  }
  .submit-purpose-btn:hover{
    background-color: transparent;
    border: solid 1px green;
    color: green;
  }
  
  .rejection-container{
    width: 100%;
  }
  
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Notifications | SKS Admin</title>
</head>
<body id="admin-notifications">
    <div class="blur" id="admin-notification-blur"></div>

    <div class="notif-header">
        <div class="filter-bg"></div>
        <h1>Notifications</h1>
    </div>

    <div class="all-features-container">
    <div class="notif-container">
      <form method="post" action="{% url 'approve_or_reject_event' %}">
            {% csrf_token %}
        <div class="activities-notif-container">
            <h4>Event Activity Requests</h4>
            <div class="scroll-container">
            {% for act in activities %}
            <div class="activity-request notif-request" data-date="{{act.date}}" data-time = "{{act.time}}" data-category="{{act.categories}}"
             data-phone = "{{act.phonenumber}}" data-location="{{act.location}}" data-manager="{{act.clubmanager}}"
             data-vicemanager = "{{act.clubvicemanager}}"
             data-title = "{{act.eventtitle}}" data-image = "{{act.event_image.url}}"
             data-description = "{{act.description}}">
             <div class="req-text-checkboxes">
                <img src="{{act.clubname.profileimg.url}}" alt="club logo">
                <div class="req-text"><strong class="club-name">{{act.clubname}}</strong> sent an event activity request <span class="view-interface-btn">view</span></div>

                <div class="decision-buttons">

                    {% if act.approved %}
                    <div class="check-container">
                        <label for="approve_{{ act.id }}">Approve</label>
                        <input class="accept-check" type="checkbox" checked id="approve_{{ act.id }}" value="{{ act.id }}" name="approve">
                    </div>
                    {% else %}
                    <div class="check-container">
                        <label for="approve_{{ act.id }}">Approve</label>
                        <input class="accept-check" type="checkbox"  id="approve_{{ act.id }}" value="{{ act.id }}" name="approve">
                    </div>
                    {% endif %}

                    {% if act.rejected %}
                    <div class="check-container">
                        <label for="reject_{{ act.id }}">Reject</label>
                        <input class="reject-check" type="checkbox" checked id="reject_{{ act.id }}" value="{{ act.id }}" name="reject">
                    </div>
                    {% else %}
                    <div class="check-container">
                        <label for="reject_{{ act.id }}">Reject</label>
                        <input class="reject-check" type="checkbox"  id="reject_{{ act.id }}" value="{{ act.id }}" name="reject">
                    </div>
                    {% endif %}

                    

                </div>
            </div>
                <div class="rejection-container">
                    <label for="reason">Rejection Reason:</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Enter rejection reason">
                </div>

            </div>

            {% endfor %}
        </div> 
        <input type="submit" class="submit-purpose-btn" value="Submit">
        </div>
      </form>

    <form method="post" action="{% url 'approve_or_reject_post' %}">
        {% csrf_token %}
    <div class="posts-notif-container">
        <h4>Event Post Requests</h4>
        <div class="scroll-container">
    {% for post in posts %}
        <div class="post-request notif-request" data-title = "{{post.eventtitle}}"
            data-image = "{{post.image.url}}"
            data-description = "{{post.postdescription}}">
            <div class="req-text-checkboxes">
                <img src="{{post.clubname.profileimg.url}}" alt="club logo">
                <div class="req-text"><strong class="club-name">{{post.clubname}}</strong> sent an event post request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                        {% if post.approved %}
                        <div class="check-container">
                            <label for="approve_{{ post.id }}">Approve</label>
                            <input class="accept-check" type="checkbox" checked id="approve_{{ post.id }}" value="{{ post.id }}" name="approve">
                        </div>
                        {% else %}
                        <div class="check-container">
                            <label for="approve_{{ post.id }}">Approve</label>
                            <input class="accept-check" type="checkbox"  id="approve_{{ post.id }}" value="{{ post.id }}" name="approve">
                        </div>
                        {% endif %}

                        {% if post.rejected %}
                        <div class="check-container">
                            <label for="reject_{{ post.id }}">Reject</label>
                            <input class="reject-check" type="checkbox" checked id="reject_{{ post.id }}" value="{{ post.id }}" name="reject">
                        </div>
                        {% else %}
                        <div class="check-container">
                            <label for="reject_{{ Post.id }}">Reject</label>
                            <input class="reject-check" type="checkbox"  id="reject_{{ post.id }}" value="{{ post.id }}" name="reject">
                        </div>
                        {% endif %} 
                
                 </div>
            </div>     
                <div class="rejection-container">
                    <label for="reason">Rejection Reason:</label>
                    <input type="text" class="form-control" name="reason" id="reason" placeholder="Enter rejection reason">
                </div>
    </div>
    {% endfor %}
        
        </div> 
        <input type="submit" class=" submit-purpose-btn" value="Submit">
        </div>
    </form>       

    <form method="post" action="{% url 'approve_or_reject_edited_post' %}">
        {% csrf_token %}
        <div class="edits-notif-container">
            <h4>Edit Event Requests</h4>

            <div class="scroll-container">

                    {% for post in post %}
                    {% if post.edit_post %}
                    <div class="edit-request notif-request" data-type="post" data-oldtitle = "{{ post.eventtitle }}"
                        data-oldimage = "{{ post.image.url }}"
                    data-olddescription = "{{ post.description }}"

                    data-editedtitle = "{{ post.edit_post.eventtitle }}"
                    data-editedimage = "{{ post.edit_post.image.url }}"
                data-editeddescription = "{{ post.edit_post.description }}">
                <img src="{{ post.clubname.profileimg.url }}" alt="club logo">
                <div class="req-text"><strong class="club-name">{{ post.clubname }}</strong> sent an edit post event request <span class="view-interface-btn">view</span></div>
                
                <div class="decision-buttons">
                        {% if post.edit_post.approved %}
                        <div class="check-container">
                            <label for="approve_{{ post.edit_post.id }}">Approve</label>
                            <input class="accept-check" type="checkbox" checked id="approve_{{ post.edit_post.id }}" value="{{ post.edit_post.id }}" name="approve">
                        </div>
                        {% else %}
                        <div class="check-container">
                            <label for="approve_{{ post.edit_post.id }}">Approve</label>
                            <input class="accept-check" type="checkbox"  id="approve_{{ post.edit_post.id }}" value="{{ post.edit_post.id }}" name="approve">
                        </div>
                        {% endif %}

                        {% if post.edit_post.rejected %}
                        <div class="check-container">
                            <label for="reject_{{ post.edit_post.id }}">Reject</label>
                            <input class="reject-check" type="checkbox" checked id="reject_{{ post.edit_post.id }}" value="{{ post.edit_post.id }}" name="reject">
                        </div>
                        {% else %}
                        <div class="check-container">
                            <label for="reject_{{ post.edit_post.id }}">Reject</label>
                            <input class="reject-check" type="checkbox"  id="reject_{{ post.edit_post.id }}" value="{{ post.edit_post.id }}" name="reject">
                        </div>
                        {% endif %}



                    </div>
                    <div class="rejection-container">
                        <label for="reason">Rejection Reason:</label>
                        <input type="text" class="form-control" name="reason" id="reason" placeholder="Enter rejection reason">
                    </div>
            </div>


            {% endif %}
            {% endfor %}

                    {% for event in events %}
                    {% if event.edit_event %}
                <div class="edit-request notif-request" data-type = "activity" 
                    data-olddate="{{ event.date }}" data-oldtime = '{{ event.time }}' data-oldcategory="{{ event.categories }}"
                    data-oldphone = "{{ event.phonenumber }}" data-oldlocation="{{ event.location }}" data-oldmanager="{{ event.clubmanager }}"
                    data-oldvicemanager = '{{ event.clubvicemanager }}' data-oldtitle = "{{ event.eventtitle }}" data-oldimage = "{{ event.event_image.url }}"
                    data-olddescription = "{{ event.description }}"
                    data-editeddate="{{ event.edit_event.date }}" data-editedtime = '{{ event.edit_event.time }}' data-editedcategory="{{ event.edit_event.categories }}"
                    data-editedphone = "{{ event.edit_event.phonenumber }}" data-editedlocation="{{ event.edit_event.location }}" data-editedmanager="{{ event.edit_event.clubmanager }}"
                    data-editedvicemanager = '{{ event.edit_event.clubvicemanager }}' data-editedtitle = "{{ event.edit_event.eventtitle }}" data-editedimage = "{{ event.edit_event.event_image.url }}"
                    data-editeddescription = "{{ event.edit_event.description }}">
                    <div class="req-text-checkboxes">
                    <img src="{{ event.clubname.profileimg.url }}" alt="club logo">
                    <div class="req-text"><strong class="club-name">{{ event.clubname }}</strong> sent an edit activity event request <span class="view-interface-btn">view</span></div>
                    <div class="decision-buttons">

                            {% if event.edit_event.approved %}
                            <div class="check-container">
                                <label for="approve_{{ event.edit_event.id }}">Approve</label>
                                <input class="accept-check" type="checkbox" checked id="approve_{{ event.edit_event.id }}" value="{{ event.edit_event.id }}" name="approve">
                            </div>
                            {% else %}
                            <div class="check-container">
                                <label for="approve_{{ event.edit_event.id }}">Approve</label>
                                <input class="accept-check" type="checkbox"  id="approve_{{ event.edit_event.id }}" value="{{ event.edit_event.id }}" name="approve">
                            </div>
                            {% endif %}
    
                            {% if event.edit_event.rejected %}
                            <div class="check-container">
                                <label for="reject_{{ event.edit_event.id }}">Reject</label>
                                <input class="reject-check" type="checkbox" checked id="reject_{{ event.edit_event.id }}" value="{{ event.edit_event.id }}" name="reject">
                            </div>
                            {% else %}
                            <div class="check-container">
                                <label for="reject_{{ event.edit_event.id }}">Reject</label>
                                <input class="reject-check" type="checkbox"  id="reject_{{ event.edit_event.id }}" value="{{ event.edit_event.id }}" name="reject">
                            </div>
                            {% endif %}
                    </div>

                 </div>
                 <div >
                    
                </div>
                <div class="rejection-container">
                    <label for="reason">Rejection Reason:</label>
                <input type="text" class="form-control" name="reason" id="reason" placeholder="Enter rejection reason">
                </div>
            </div>
                {% endif %}
                {% endfor %}

            </div>
            <input type="submit" class=" submit-purpose-btn" value="Submit">
        </div> 
            </form>
            
</div>
    <div class="event-interface-container" id="activity-interface-container">
        <!-- HERE THE ACTIVITY INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>

    <div class="event-interface-container" id="post-interface-container">
        <!-- HERE THE POST INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>

    <div class="event-interface-container" id="edited-event-interface-container">
        <!-- HERE THE Old and Edited Event INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>
</div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script>
let activityRequest = document.querySelectorAll('.activity-request');
let activityInterface = document.getElementById('activity-interface-container');
let postRequest = document.querySelectorAll('.post-request');
let editRequest = document.querySelectorAll('.edit-request');
let postInterface = document.getElementById('post-interface-container');
let editedEventInterface = document.getElementById('edited-event-interface-container');
let requestContainer = document.querySelectorAll('.notif-request');

if(document.body.id = "admin-notifications"){

function handleRequestContainer(){
    for(let i = 0; i< requestContainer.length; i++){
      const approveCheckbox = requestContainer[i].querySelector('.accept-check');
      const rejectCheckbox = requestContainer[i].querySelector('.reject-check');

      approveCheckbox.addEventListener('change', function() {
        if (this.checked) {
            rejectCheckbox.checked = false;
            requestContainer[i].style.height = "70px";
        }
    });
    
    rejectCheckbox.addEventListener('change', function() {
        if (this.checked) {
            approveCheckbox.checked = false;
            requestContainer[i].style.height = "170px";
        }
        else{
            requestContainer[i].style.height = "70px";
        }
    });
    }
}
handleRequestContainer();

function showRequestContent(request,interfaceContainer){
  for(let i = 0; i < request.length; i++){
    let eventViewBtn = request[i].querySelector('.view-interface-btn');
    let clubName = request[i].querySelector('.club-name');

    eventViewBtn.addEventListener('click', ()=>{
      interfaceContainer.style.display = 'flex';
      document.body.style.overflow = 'hidden';
      window.scrollTo({
          top: 0,
          behavior: 'smooth'
      });
      let activityPreview =
      `
      <i onclick="closeEventInterface(activityInterface)" class="fa-solid fa-x"></i>
      <div class="activity-interface interface-box">
          <div class="image-wrapper">
                  <img class="activity-image" src="${request[i].dataset.image}" class="card-img-top event-img">
              </div>
              <div class="activity-infos">
              <div class="activity-title-desc">
              <h3 class="activity-title">${request[i].dataset.title}</h3>
              <p class="activity-desc">${request[i].dataset.description}</p>
             </div>
             <div class="activity-subheaders">
              <p><i class="fa-regular fa-calendar"></i> Date: ${request[i].dataset.date}</p>
              <p><i class="fa-regular fa-clock"></i> Time: ${request[i].dataset.time}</p>
              <p><i class="fa-solid fa-location-dot"></i> Location: ${request[i].dataset.location}</p>
              <p><i class="fa-solid fa-list"></i> Category: ${request[i].dataset.category}</p>
              <p><i class="fa-regular fa-user"></i> Manager: ${request[i].dataset.manager}</p>
              <p><i class="fa-regular fa-user"></i> Vice Manager: ${request[i].dataset.vicemanager}</p>
              <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
              <p><i class="fa-solid fa-phone"></i> Phone Number: ${request[i].dataset.phone}</p>
              
             </div>
              </div>
  </div>
      
      `;

      let postPreview = `
<i onclick="closeEventInterface(postInterface)" class="fa-solid fa-x"></i>
<div class="post-interface interface-box">
  ${request[i].dataset.image !== "" ? 
      `<div class="image-wrapper">
          <img class="post-image" src="${request[i].dataset.image}" class="card-img-top event-img">
      </div>` 
      : ""}
  <div class="post-infos">
      <div class="post-title-desc">
          <h3 class="post-title">${request[i].dataset.title}</h3>
          <p class="post-desc">${request[i].dataset.description}</p>
      </div>
      <div class="post-subheaders">
          <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
      </div>
  </div>
</div>`;

let editActivityPreview =
      `
      <i onclick="closeEventInterface(editedEventInterface)" class="fa-solid fa-x"></i>
      
      <div class= "old-edited-intefaces-container">
      <div class="edited-old-box">
          <div class="box-filter old-box-filter"></div>
          <div class="image-wrapper">
                  <img class="activity-image" src="${request[i].dataset.oldimage}" class="card-img-top event-img">
              </div>
              <div class="activity-infos">
              <div class="activity-title-desc">
              <h3 class="activity-title">${request[i].dataset.oldtitle}</h3>
              <p class="activity-desc">${request[i].dataset.olddescription}</p>
             </div>
             <div class="activity-subheaders">
              <p><i class="fa-regular fa-calendar"></i> Date: ${request[i].dataset.olddate}</p>
              <p><i class="fa-regular fa-clock"></i> Time: ${request[i].dataset.oldtime}</p>
              <p><i class="fa-solid fa-location-dot"></i> Location: ${request[i].dataset.oldlocation}</p>
              <p><i class="fa-solid fa-list"></i> Category: ${request[i].dataset.oldcategory}</p>
              <p><i class="fa-regular fa-user"></i> Manager: ${request[i].dataset.oldmanager}</p>
              <p><i class="fa-regular fa-user"></i> Vice Manager: ${request[i].dataset.oldvicemanager}</p>
              <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
              <p><i class="fa-solid fa-phone"></i> Phone Number: ${request[i].dataset.oldphone}</p>
              
             </div>
              </div>
  </div>

  <div class="edited-old-box">
      <div class="box-filter edited-box-filter"></div>
      <div class="image-wrapper">
              <img class="activity-image" src="${request[i].dataset.editedimage}" class="card-img-top event-img">
          </div>
          <div class="activity-infos">
          <div class="activity-title-desc">
          <h3 class="activity-title">${request[i].dataset.editedtitle}</h3>
          <p class="activity-desc">${request[i].dataset.editeddescription}</p>
         </div>
         <div class="activity-subheaders">
          <p><i class="fa-regular fa-calendar"></i> Date: ${request[i].dataset.editeddate}</p>
          <p><i class="fa-regular fa-clock"></i> Time: ${request[i].dataset.editedtime}</p>
          <p><i class="fa-solid fa-location-dot"></i> Location: ${request[i].dataset.editedlocation}</p>
          <p><i class="fa-solid fa-list"></i> Category: ${request[i].dataset.editedcategory}</p>
          <p><i class="fa-regular fa-user"></i> Manager: ${request[i].dataset.editedmanager}</p>
          <p><i class="fa-regular fa-user"></i> Vice Manager: ${request[i].dataset.editedvicemanager}</p>
          <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
          <p><i class="fa-solid fa-phone"></i> Phone Number: ${request[i].dataset.editedphone}</p>
          
         </div>
          </div>
</div>
</div>
      
  `;
let editPostPreview = `
      <i onclick="closeEventInterface(editedEventInterface)" class="fa-solid fa-x"></i>
      <div class= "old-edited-intefaces-container">
      <div class="edited-old-box post-edited-old-box">
      <div class="box-filter old-box-filter"></div>
          ${request[i].dataset.oldimage !== "" ? 
              `<div class="image-wrapper">
                  <img class="post-image" src="${request[i].dataset.oldimage}" class="card-img-top event-img">
              </div>` 
              : ""}
          <div class="post-infos">
              <div class="post-title-desc">
                  <h3 class="post-title">${request[i].dataset.oldtitle}</h3>
                  <p class="post-desc">${request[i].dataset.olddescription}</p>
              </div>
              <div class="post-subheaders">
                  <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
              </div>
          </div>
      </div>
      
      <div class="edited-old-box post-edited-old-box">
      <div class="box-filter edited-box-filter"></div>
          ${request[i].dataset.editedimage !== "" ? 
              `<div class="image-wrapper">
                  <img class="post-image" src="${request[i].dataset.editedimage}" class="card-img-top event-img">
              </div>` 
              : ""}
          <div class="post-infos">
              <div class="post-title-desc">
                  <h3 class="post-title">${request[i].dataset.editedtitle}</h3>
                  <p class="post-desc">${request[i].dataset.editeddescription}</p>
              </div>
              <div class="post-subheaders">
                  <p><i class="fa-solid fa-cube"></i> Club Name: ${clubName.textContent}</p>
              </div>
          </div>
      </div>
  </div>`;

      if(interfaceContainer.id === 'activity-interface-container'){
          interfaceContainer.innerHTML = activityPreview;
      }
      else if(interfaceContainer.id === 'post-interface-container'){
          interfaceContainer.innerHTML = postPreview;
      }
      else if(interfaceContainer.id === 'edited-event-interface-container' && request[i].dataset.type === 'activity'){
          interfaceContainer.innerHTML = editActivityPreview;
      }
      else if(interfaceContainer.id === 'edited-event-interface-container' && request[i].dataset.type === 'post'){
          interfaceContainer.innerHTML = editPostPreview;
      }
      
    });
}
}
showRequestContent(activityRequest,activityInterface);
showRequestContent(postRequest,postInterface);
showRequestContent(editRequest,editedEventInterface);

function closeEventInterface(interface){
  interface.style.display = 'none';
  document.body.style.overflow = 'auto';
}

}
    </script>
    
</body>
</html>
{% endblock content %}