{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Notifications | SKS Admin</title>
</head>
<body id="admin-notifications">
    <div class="notif-header">
        <div class="filter-bg"></div>
        <h1>Notifications</h1>
    </div>
    <div class="all-features-container">
    <div class="notif-container">
        <div class="activities-notif-container">
            <h4>Event Activity Requests</h4>
            <div class="scroll-container">
            <div class="activity-request" data-date="Sat, Apr 24" data-time = '8:00 pm' data-category="Sport"
             data-phone = "+90 (534)442 1873" data-location="Block D, D-109" data-manager="Nouhad El Hallab"
             data-vicemanager = 'Haneen'
             data-title = "Let's Hike Together" data-image = "{% static 'images/hiking-event.jpg' %}"
             data-description = "Embark on an unforgettable hiking journey to conquer the summit of Büyük Camlica Hill.
             Experience breathtaking views, diverse wildlife, and camaraderie. Join us for adventure!
              Explore the winding trails that lead you through lush greenery, with each step bringing you closer to the awe-inspiring peak.
               As you ascend, be captivated by the symphony of nature, from the melodious songs of birds to the gentle rustle of leaves in the breeze.
                Along the way, forge bonds with fellow adventurers, sharing in the exhilaration of the climb and the triumph of reaching the summit.
                 At the pinnacle, stand in awe as panoramic vistas stretch out before you, a tapestry of mountains, forests, and cityscapes that leave you breathless.
                  This journey is not just about conquering a hill; it's about immersing yourself in the beauty of the natural world and the thrill of exploration.
                   So lace up your boots, pack your essentials, and join us as we embark on this epic adventure together!">

                <img src="{% static 'images/hiking-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Hike Harmony</strong> sent an event activity request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>

            <div class="activity-request" data-date="Thu, May 09" data-time = '2:00 pm' data-category="gaming"
             data-phone = "+90 (537)482 1275" data-location="Block A, Nermin Tarhan" data-manager="Mohammad Aburahma"
             data-vicemanager = 'Mazen'
             data-title = "Virtual Realms: Gaming in the VR Universe" data-image = "{% static 'images/gaming-vr-upcoming-event.png' %}"
             data-description = "Step into 'Virtual Realms: Gaming in the VR Universe' for an unparalleled gaming adventure!
             Immerse yourself in cutting-edge VR technology, thrilling demos, and competitive tournaments.
              Whether you're a seasoned VR enthusiast or new to the experience, there's something for everyone.
               Join us and explore the limitless possibilities of the VR universe!">

                <img src="{% static 'images/gaming-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Pixel Pioneers</strong> sent an event activity request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>
        </div>
        </div>
        <div class="posts-notif-container">
            <h4>Event Post Requests</h4>
            <div class="scroll-container">
                <div class="post-request" data-title = "From our Hiking Event"
                 data-image = "https://www.colorado.edu/program/data-science/sites/default/files/styles/large/public/slider/img_0146_0.jpg?itok=IVE2eqdQ"
                data-description = "Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
                 Adventure awaits! 📸✨ #Hiking #NatureLovers">
                <img src="{% static 'images/hiking-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Hike Harmony</strong> sent an event post request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>
            <div class="post-request" data-title = "Join Us as Vice Manager of Pixel Pioneers!"
            data-image = ""
           data-description = " We need a passionate gaming enthusiast to join our team as Vice Manager of the Gaming Club! Take part in organizing events
            and building a thriving gaming community on campus. Ready to level up? Apply now!">
                <img src="{% static 'images/gaming-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Pixel Pioneers</strong> sent an event post request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>
            </div>  
        </div>
        <div class="edits-notif-container">
            <h4>Edit Event Requests</h4>
            <div class="scroll-container">
                <div class="edit-request" data-type = "activity" data-olddate="Sat, Apr 24" data-oldtime = '8:00 pm' data-oldcategory="Sport"
                data-oldphone = "+90 (534)442 1873" data-oldlocation="Block D, D-109" data-oldmanager="Nouhad El Hallab"
                data-oldvicemanager = 'Haneen' data-oldtitle = "Let's Hike Together" data-oldimage = "{% static 'images/hiking-event.jpg' %}"
                data-olddescription = "Embark on an unforgettable hiking journey to conquer the summit of Büyük Camlica Hill.
                Experience breathtaking views, diverse wildlife, and camaraderie. Join us for adventure!
                 Explore the winding trails that lead you through lush greenery, with each step bringing you closer to the awe-inspiring peak.
                  As you ascend, be captivated by the symphony of nature, from the melodious songs of birds to the gentle rustle of leaves in the breeze.
                   Along the way, forge bonds with fellow adventurers, sharing in the exhilaration of the climb and the triumph of reaching the summit.
                    At the pinnacle, stand in awe as panoramic vistas stretch out before you, a tapestry of mountains, forests, and cityscapes that leave you breathless.
                     This journey is not just about conquering a hill; it's about immersing yourself in the beauty of the natural world and the thrill of exploration.
                      So lace up your boots, pack your essentials, and join us as we embark on this epic adventure together!"

                      data-editeddate="Sat, Apr 24" data-editedtime = '12:00 pm' data-editedcategory="Sport"
                data-editedphone = "+90 (534)442 1873" data-editedlocation="Block D, D-109" data-editedmanager="Nouhad El Hallab"
                data-editedvicemanager = 'Haneen' data-editedtitle = "Hiking Event" data-editedimage = "{% static 'images/run-for-fun-event.jpg' %}"
                data-editeddescription = "Embark on an unforgettable hiking journey to conquer the summit of Büyük Camlica Hill.
                Experience breathtaking views, diverse wildlife, and camaraderie. Join us for adventure!
                 Explore the winding trails that lead you through lush greenery, with each step bringing you closer to the awe-inspiring peak.
                  As you ascend, be captivated by the symphony of nature, from the melodious songs of birds to the gentle rustle of leaves in the breeze.
                   Along the way, forge bonds with fellow adventurers, sharing in the exhilaration of the climb and the triumph of reaching the summit.
                    At the pinnacle, stand in awe as panoramic vistas stretch out before you, a tapestry of mountains, forests, and cityscapes that leave you breathless.
                     This journey is not just about conquering a hill; it's about immersing yourself in the beauty of the natural world and the thrill of exploration.
                      So lace up your boots, pack your essentials, and join us as we embark on this epic adventure together!">
                <img src="{% static 'images/hiking-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Hike Harmony</strong> sent an edit activity event request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>

            <div class="edit-request" data-type="post" data-oldtitle = "From our Hiking Event"
            data-oldimage = "https://www.colorado.edu/program/data-science/sites/default/files/styles/large/public/slider/img_0146_0.jpg?itok=IVE2eqdQ"
           data-olddescription = "Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
            Adventure awaits! 📸✨ #Hiking #NatureLovers"

            data-editedtitle = "Hiking Event Was Great!"
            data-editedimage = "https://www.colorado.edu/program/data-science/sites/default/files/styles/large/public/slider/img_0146_0.jpg?itok=IVE2eqdQ"
           data-editeddescription = "Memories made on the trail! 🌲🥾 Check out this snapshot of our students embracing nature's beauty during our recent hike.
            Adventure awaits! 📸✨ #Hiking #NatureLovers">
                <img src="{% static 'images/hiking-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Hike Harmony</strong> sent an edit post event request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>

            <div class="edit-request" data-type="post" data-oldtitle = "Join Us as Vice Manager of Pixel Pioneers!"
            data-oldimage = ""
           data-olddescription = "We need a passionate gaming enthusiast to join our team as Vice Manager of the Pixel Pioneers!
            Take part in organizing events and building a thriving gaming community on campus. Ready to level up? Apply now!"

            data-editedtitle = "Vice Manager Is Needed!"
            data-editedimage = ""
           data-editeddescription = "We need a vice manager to join our team in Pixel Pioneers, If you are passionate in gaming
           world, contact us via whatsapp: +90 534 441 2345">
                <img src="{% static 'images/gaming-club.jpg' %}" alt="club logo">
                <div class="req-text"><strong class="club-name">Pixel Pioneers</strong> sent an edit post event request <span class="view-interface-btn">view</span></div>
                <div class="decision-buttons">
                    <button class="accept-btn" type="button">Accept</button>
                    <button class="reject-btn" type="button">Reject</button>
                </div>
            </div>

            </div>
        </div>
    </div>
    
    <div class="event-interface-container" id="activity-interface-container">
        <!-- HERE THE ACTIVITY INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>

    <div class="event-interface-container" id="post-interface-container">
        <!-- HERE THE POST INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>

    <div class="event-interface-container" id="edited-event-interface-container">
        <!-- HERE THE Old and Edited Event INTERFACE WILL BE DISPLAYED FROM JS  -->
    </div>

    <div class="admin-rejection-purpose">
        <h3>Please Enter Your Rejection Purpose</h3>
        <input type="text" name="rejection purpose" id="rej-perp" placeholder="enter your rejection perpose">
        <button type="button">Submit</button>
    </div>
</div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    
</body>
</html>
{% endblock content %}