<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../sks-admin-interface/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | SKS Admin</title>
</head>
<body>
      <nav>
        <div class="burger" id="burger-cont"><i class="fa-solid fa-bars" id="burger"></i></div>
    </nav>
    
    <aside class="admin-sidebar" id="sidebar">
        <div id="scroll">
        <div class="logo">
            <div class="stix">
            <i class="fa-solid fa-s"></i>
        </div>
            <p class="unv">Stix</p>
        </div>
        <div class="profile">
            <div class="image"><img src="../images/Screenshot_20240114_020802.png" alt="profile picture"></div>
            <div class="credits unv">
                <p>Nouhad El Hallab</p>
                <p>210209312 <span>(Active)</span></p>
            </div>
        </div>
        <div class="menu">
            <ul id="fix-width">
                <li class="home">
                    <a href="#" class="main"><i class="fa-solid fa-house"></i>
                    <p class="unv">Home</p></a>
                </li>
                <li class="courses" id="courses">
                    <i class="fa-solid fa-list"></i>
                    <p class="unv">Courses</p>
                    <i class="fa-solid fa-angle-left unv" id="left"></i>
                </li>
                <li class="course" id="mar">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Data Mining (COME401/1)</p></a>
                </li>
                <li class="course">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Parallel Computing (COME406/1)</p></a>
                </li>
                <li class="course">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Database Management Systems (COME301/1)</p></a>
                </li>
                <li class="course">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Operating Systems (COME307/1)</p></a>
                </li>
                <li class="course">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Software Validation and Testing (SE301/1)</p></a>
                </li>
                <li class="course">
                    <a href="#" class="trans"><i class="fa-regular fa-circle"></i></i>
                    <p class="unv">Programming With Python (SE307/1)</p></a>
                </li>
                
                <li>
                    <a href="#"><i class="fa-regular fa-calendar-days"></i>
                    <p class="unv">Consultant Schedule</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-list"></i>
                    <p class="unv">Semesters</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-earth-americas"></i>
                    <p class="unv">Update Courses</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-trash"></i>
                    <p class="unv">Cache Cleared</p></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-right-from-bracket"></i>
                    <p class="unv">Quit</p></a>
                </li>
            </ul>
        </div>
        </div>
    </aside>

      <footer>
        <div class="footer-uskudar">
            <h6>@ <span>USKUDAR UNIVERSITESI - 2011</span></h6>
        </div>
      </footer>


<script src="../sks-admin-interface/admin.js"></script>
</body>