{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Create a New Club</title>
</head>
<body id="create new club">
    <div onclick="hideConfirmMessage()" class="blur" id="create-club-blur"></div>
    <div class="confirm-message" id="club-confirm-message">
        <h3>Confirm</h3>
        <p>Are you sure you want to create a new club?</p>
        <div class="yes-no-buttons">
            <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
            <button onclick="createClubForm.submit()" class="yes-btn" type="submit">Yes</button>
        </div>
    </div>
    <div class="form-container">
        <form class="create-club-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <div class="image-upload-container">
                <div onclick="backgroundUpload.click()" class="image-preview bg-preview" id="background-preview"></div>
                <label for="background-upload" class="custom-background-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Choose A File
                </label>
                <input class="background-upload" name="profile_club" id="background-upload" type="file" required/>
                <div class="profile-input">
                    <div onclick="profileUpload.click()" class="image-preview profile-preview" id="profile-preview"></div>
                    <label for="profile-upload" class="custom-profile-upload">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </label>
                    <input class="profile-upload" name="background_club" id="profile-upload" type="file" required/>
                </div>
            </div>

        <div class="club-infos">
            <input class="input-field club-name" id="club-name" name="clubname" type="text" placeholder="Club Name" required>
            <input class="input-field headline" id="headline" name="headline" type="text" placeholder="Headline" required>
            <input class="input-field club-location" id="club-location" name="location" type="text" placeholder="Location" required>
            <input class="input-field club-manager" id="club-manager" name="clubmanager" type="text" placeholder="Club Manager" required>
            <input class="input-field club-vice-manager" id="club-vice-manager" name="clubvicemanager" type="text" placeholder="Club Vice Manager" required>
            <div class="input-div">
            <input class="input-field phone1" id="phone1" name="phonenumber1" type="tel" placeholder="Phone Number 1" required>
            <strong class="phone-error1">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field phone2" id="phone2" name="phonenumber2" type="tel" placeholder="Phone Number 2" required>
            <strong class="phone-error2">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field club-email" id="club-email" name="email" type="email" placeholder="Email Adress" required>
            <strong class="email-error">Invalid Email</strong>
        </div>
            <select name="category" id="s-categories">
                <option value="sport">Sport</option>
                <option value="gaming">Gaming</option>
                <option value="technology">Technology</option>
                <option value="society">Society</option>
                <option value="programming">Programming</option>
                <option value="art">Art</option>
            </select>
            <input class="input-field" type="number" name="numOfMembers" placeholder="Number of Members" required>
            <input type="text" class="club-achievment" name="clubAchievment1" id= "clubAchievment1" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment2" id= "clubAchievment2" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment3" id= "clubAchievment3" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment4" id= "clubAchievment3" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment5" id= "clubAchievment3" placeholder="Club's Achievment">
            <div class="area-div">
            <textarea class="input-field club-vision-input" name="clubvision" id="club-vision-input" placeholder="Club Vision" required></textarea>
            <strong class="vision-error">The club vision should be between 200-3000 letter</strong>
            </div>
            <div class="area-div">
            <textarea class="input-field club-description-input" name="clubdescription" id="club-description-input" placeholder="Club Description" required></textarea>
            <strong class="description-error">The club description should be between 300-4000 letter</strong>
            </div>
            <div class="create-club-btn"><button onclick="checkAndConfirm()" type="button">Create New Club</button></div>
        </div>
    </form>
    
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script>
        const backgroundUpload = document.querySelector('.background-upload');
const profileUpload = document.querySelector('.profile-upload');
const backgroundPreview = document.querySelector('.bg-preview');
const profilePreview = document.querySelector('.profile-preview');
let backgroundContainer = document.querySelector('.image-upload-container');
let profileContainer = document.querySelector('.profile-input');
let phoneNum1 = document.querySelector('.phone1');
let phoneNum2 = document.querySelector('.phone2');
let clubDescriptionInput = document.querySelector('.club-description-input');
let clubVisionInput = document.querySelector('.club-vision-input');
let clubConfirmMessage = document.querySelector('.confirm-message');
let clubBlur = document.querySelector('.blur');
let clubEmail = document.querySelector('.club-email');
let createClubForm = document.querySelector('.create-club-form');
let editClubForm = document.querySelector('.edit-club-form');
        function displayImagePreview(input, preview) {
            const file = input.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                    const imageDataURL = reader.result;
                    const img = document.createElement('img');
                    img.src = imageDataURL;
                    preview.innerHTML = '';
                    preview.appendChild(img);
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
          }
          if(document.body.id === 'create new club' || document.body.id === 'club-profile'){
          backgroundUpload.addEventListener('change', function() {
            displayImagePreview(this, backgroundPreview);
          });
          
          profileUpload.addEventListener('change', function() {
            displayImagePreview(this, profilePreview);
          });
          }
          
          
          function checkInputs(){
                let clubInputs = document.querySelectorAll('.input-field');
                let hasErrors = false;
                for(let i = 0; i < clubInputs.length; i++){
                    if(clubInputs[i].value.trim() === ''){
                        clubInputs[i].classList.add('error-border');
          ;                   hasErrors = true;
                    }
                    else{
                        clubInputs[i].classList.remove('error-border');
          
                    }
                }
          
                //bg input
                if(backgroundUpload.value.trim() === ''){
                    backgroundContainer.classList.add('error-border');
                    hasErrors = true;
                }
                else{
                    backgroundContainer.classList.remove('error-border');
          
                }
                //profile input
                if(profileUpload.value.trim() === ''){
                    profileContainer.classList.add('error-border');
                    hasErrors = true;
                }
                else{
                    profileContainer.classList.remove('error-border');
          
                }
          
                
            let phoneError1 = document.querySelector('.phone-error1');
            let phoneError2 = document.querySelector('.phone-error2');
            let numberReg = /^\+\d{2}(\s?\d){10}$/;
            //phone number 1 input
            if(!phoneNum1.value.match(numberReg) && phoneNum1.value.trim() !== ''){
                phoneError1.style.display = 'block';
                hasErrors = true;
            }
            else{
                phoneError1.style.display = 'none';
            }
            //phone number 2 input
            if(!phoneNum2.value.match(numberReg) && phoneNum2.value.trim() !== ''){
                phoneError2.style.display = 'block';
                hasErrors = true;
            }
            else{
                phoneError2.style.display = 'none';
            }
          
            //Email input
            let emailReg = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let emailError = document.querySelector('.email-error');
            if(!clubEmail.value.match(emailReg) && clubEmail.value.trim() !== ''){
                emailError.style.display = 'block';
                hasErrors = true;
            }
           else{
                emailError.style.display = 'none';
            }
          
            //Description input
            let descriptionError = document.querySelector('.description-error');
            descInputValue = clubDescriptionInput.value.trim();
            if(descInputValue.length >= 300 && descInputValue.length <= 4000){
                descriptionError.style.display = 'none';
            }
            else if(descInputValue !== ''){
                descriptionError.style.display = 'block';
                hasErrors = true;
            }
            //Vision input
            let visionError = document.querySelector('.vision-error');
            visionInputValue = clubVisionInput.value.trim();
            if(visionInputValue.length >= 200 && visionInputValue.length <= 3000 && visionInputValue !== ''){
                visionError.style.display = 'none';
            }
            else if(visionInputValue !== ''){
                visionError.style.display = 'block';
                hasErrors = true;
            }
          
            return hasErrors
            }
          
          
          function showConfirmMessage(){
            clubConfirmMessage.style.top = '70px';
            clubBlur.style.display = 'block';
          }
          
          function checkAndConfirm() {
          
            let hasErrors = checkInputs();
          
            if (!hasErrors) {
                showConfirmMessage();
            }
          }
          
          function hideConfirmMessage(){
            clubConfirmMessage.style.top = '-100%';
            clubBlur.style.display = 'none';
          }
    </script>
</body>
</html>
{% endblock content %}