{% extends 'base.html' %}
{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500&display=swap" rel="stylesheet">
    <title>ClubConnect | Create a New Club</title>
</head>
<body id="create new club">
    <div onclick="hideConfirmMessage()" class="blur" id="create-club-blur"></div>
    <div class="confirm-message" id="club-confirm-message">
        <h3>Confirm</h3>
        <p>Are you sure you want to create a new club?</p>
        <div class="yes-no-buttons">
            <button onclick="hideConfirmMessage()" class="no-btn" type="button">No</button>
            <button onclick="createClubForm.submit()" class="yes-btn" type="submit">Yes</button>
        </div>
    </div>
    <div class="form-container">
        <form class="create-club-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <div class="image-upload-container">
                <div onclick="backgroundUpload.click()" class="image-preview bg-preview" id="background-preview"></div>
                <label for="background-upload" class="custom-background-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Choose A File
                </label>
                <input class="background-upload" name="background_club" id="background-upload" type="file" required/>
                <div class="profile-input">
                    <div onclick="profileUpload.click()" class="image-preview profile-preview" id="profile-preview"></div>
                    <label for="profile-upload" class="custom-profile-upload">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </label>
                    <input class="profile-upload" name="profile_club" id="profile-upload" type="file" required/>
                </div>
            </div>

        <div class="club-infos">
            <input class="input-field club-name" id="club-name" name="clubname" type="text" placeholder="Club Name" required>
            <input class="input-field headline" id="headline" name="headline" type="text" placeholder="Headline" required>
            <input class="input-field club-location" id="club-location" name="location" type="text" placeholder="Location" required>
            <input class="input-field club-manager" id="club-manager" name="clubmanager" type="text" placeholder="Club Manager" required>
            <input class="input-field club-vice-manager" id="club-vice-manager" name="clubvicemanager" type="text" placeholder="Club Vice Manager" required>
            <div class="input-div">
            <input class="input-field phone1" id="phone1" name="phonenumber1" type="tel" placeholder="Phone Number 1" required>
            <strong class="phone-error1">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field phone2" id="phone2" name="phonenumber2" type="tel" placeholder="Phone Number 2" required>
            <strong class="phone-error2">Invalid Number</strong>
            </div>
            <div class="input-div">
            <input class="input-field club-email" id="club-email" name="email" type="email" placeholder="Email Adress" required>
            <strong class="email-error">Invalid Email</strong>
        </div>
            <select name="category" id="s-categories">
                <option value="sport">Sport</option>
                <option value="gaming">Gaming</option>
                <option value="technology">Technology</option>
                <option value="society">Society</option>
                <option value="programming">Programming</option>
                <option value="art">Art</option>
            </select>
            <input class="input-field" type="number" name="numOfMembers" placeholder="Number of Members" required>
            <input type="text" class="club-achievment" name="clubAchievment1" id= "clubAchievment1" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment2" id= "clubAchievment2" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment3" id= "clubAchievment3" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment4" id= "clubAchievment3" placeholder="Club's Achievment">
            <input type="text" class="club-achievment" name="clubAchievment5" id= "clubAchievment3" placeholder="Club's Achievment">
            <div class="area-div">
            <textarea class="input-field club-vision-input" name="clubvision" id="club-vision-input" placeholder="Club Vision" required></textarea>
            <strong class="vision-error">The club vision should be between 200-3000 letter</strong>
            </div>
            <div class="area-div">
            <textarea class="input-field club-description-input" name="clubdescription" id="club-description-input" placeholder="Club Description" required></textarea>
            <strong class="description-error">The club description should be between 300-4000 letter</strong>
            </div>
            <div class="create-club-btn"><button onclick="checkAndConfirm()" type="button">Create New Club</button></div>
        </div>
    </form>
    
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    
</body>
</html>
{% endblock content %}